.word{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.word__timer{
    display: flex;
    color: white;
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 20px;
    background-color: #94b4a4;
    padding:12px;
    border-radius: 30px;
}
.word__timer>.MuiSvgIcon-root{
    margin-right: 10px;
    font-size: 100px;
}
.word__timer>.MuiSvgIcon-root:hover{
    cursor: pointer;
}

.word>p{
    max-width: 80%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 40px;
    font-size: 24px;
    color: white;
    background-color:#94b4a4;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 40px;
}

.word__timer>h1{
    margin-left: 5px;
    align-items: center;
    font-size: 80px;
    margin-top: 10px;
}
.word__display{
    display: flex;
    color: white;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    background-color: #94b4a4;
    padding:5px;
    border-radius: 30px;
    justify-content: center;
}